# Ansible関連
*.retry
*.log
*.bak
*.swp
*.swo
*.pyc
__pycache__/

# SSH鍵や秘密情報
*.pem
*.key
id_rsa*
files/id_rsa.pub
files/id_rsa
files/id_rsa.*.local
# files/id_rsa.pub.dummy ← ダミー公開鍵は除外しない

# OS/エディタ固有
.DS_Store
Thumbs.db
.vscode/
.idea/

# その他
.env
group_vars/all.yml
files/node-token
files/k3s.yaml
.kube/
.vault_pass.txt
